# init

## imports

In [1]:
import matplotlib.pyplot as plt
import os
import pandas as pd
import warnings

from pyspark.sql import functions as F
from pyspark.sql import SparkSession
from pyspark import SparkContext
from pyspark.sql import types as T
from pyspark.sql import Window as W

warnings.filterwarnings('ignore')
os.environ["SPARK_LOCAL_IP"] = "127.0.0.1"

## configs

In [2]:
SPARK_THREADS = 16
SPARK_MEMORY = 16
SPARK_TIMEZONE = 'America/Vancouver'

In [3]:
BASE_PATH =os.path.expanduser('~/class/ad_click/data/')
USER_DATA_PATH = BASE_PATH + 'raw_data/user_profile.csv'
AD_CLICK_DATA_PATH = BASE_PATH + 'raw_data/raw_sample.csv'
AD_INFO_DATA_PATH = BASE_PATH + 'raw_data/ad_feature.csv'

MERGED_DATA_PATH = BASE_PATH + 'merged.parquet'
DATASET_PATH = BASE_PATH + 'dataset.parquet'

## spark instantiation

In [4]:
spark = (
    SparkSession 
    .builder 
    .master('local[{}]'.format(SPARK_THREADS)) 
    .config('spark.driver.memory', '{}g'.format(SPARK_MEMORY)) 
    .config('spark.sql.session.timeZone', SPARK_TIMEZONE)
    .config('spark.log.level', 'ERROR')
    .getOrCreate()
)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/04/14 08:39:17 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting Spark log level to "ERROR".

## util

In [5]:
def summerize_df(df):
    print(df.count())
    df.show(3)

# load data

In [6]:
user_df = spark.read.csv(USER_DATA_PATH, header = True, inferSchema=True)
summerize_df(user_df)

1061768
+------+---------+------------+-----------------+---------+------------+--------------+----------+---------------------+
|userid|cms_segid|cms_group_id|final_gender_code|age_level|pvalue_level|shopping_level|occupation|new_user_class_level |
+------+---------+------------+-----------------+---------+------------+--------------+----------+---------------------+
|   234|        0|           5|                2|        5|        NULL|             3|         0|                    3|
|   523|        5|           2|                2|        2|           1|             3|         1|                    2|
|   612|        0|           8|                1|        2|           2|             3|         0|                 NULL|
+------+---------+------------+-----------------+---------+------------+--------------+----------+---------------------+
only showing top 3 rows

In [7]:
ad_info_df = spark.read.csv(AD_INFO_DATA_PATH, header = True, inferSchema=True)
summerize_df(ad_info_df)

846811
+----------+-------+-----------+--------+-----+-----+
|adgroup_id|cate_id|campaign_id|customer|brand|price|
+----------+-------+-----------+--------+-----+-----+
|     63133|   6406|      83237|       1|95471|170.0|
|    313401|   6406|      83237|       1|87331|199.0|
|    248909|    392|      83237|       1|32233| 38.0|
+----------+-------+-----------+--------+-----+-----+
only showing top 3 rows

In [8]:
ad_click_df = spark.read.csv(AD_CLICK_DATA_PATH, header = True, inferSchema=True)
summerize_df(ad_click_df)

26557961
+------+----------+----------+-----------+------+---+
|  user|time_stamp|adgroup_id|        pid|nonclk|clk|
+------+----------+----------+-----------+------+---+
|581738|1494137644|         1|430548_1007|     1|  0|
|449818|1494638778|         3|430548_1007|     1|  0|
|914836|1494650879|         4|430548_1007|     1|  0|
+------+----------+----------+-----------+------+---+
only showing top 3 rows

# join

In [9]:
ad_click_df = ad_click_df.withColumnRenamed('user', 'userid')

ad_click_user_df = ad_click_df.join(user_df, on='userid')
merged_df = ad_click_user_df.join(ad_info_df, on='adgroup_id')

merged_df.write.partitionBy('age_level', 'final_gender_code').parquet(MERGED_DATA_PATH)
summerize_df(merged_df)

25029435

+----------+-------+----------+-----------+------+---+---------+------------+-----------------+---------+------------+--------------+----------+---------------------+-------+-----------+--------+------+-----+
|adgroup_id| userid|time_stamp|        pid|nonclk|clk|cms_segid|cms_group_id|final_gender_code|age_level|pvalue_level|shopping_level|occupation|new_user_class_level |cate_id|campaign_id|customer| brand|price|
+----------+-------+----------+-----------+------+---+---------+------------+-----------------+---------+------------+--------------+----------+---------------------+-------+-----------+--------+------+-----+
|        31| 989702|1494097392|430539_1007|     1|  0|       79|          10|                1|        4|           2|             3|         0|                    1|   8633|     398003|   52607|  NULL| 11.0|
|        34| 838097|1494478055|430539_1007|     1|  0|       81|          10|                1|        4|           2|             3|         0|                    3|   1607|     103033|     697|351548|316.0|
|        53|1140786|1494201762|430548_1007|     1|  0|        0|           4|                2|        4|        NULL|             3|         0|                 NULL|   7214|     140326|   22145|372026| 19.0|
+----------+-------+----------+-----------+------+---+---------+------------+-----------------+---------+------------+--------------+----------+---------------------+-------+-----------+--------+------+-----+
only showing top 3 rows

In [10]:
merged_df = spark.read.parquet(MERGED_DATA_PATH).withColumn('time', F.from_unixtime('time_stamp'))
merged_df.persist()
summerize_df(merged_df)

25029435
+----------+------+----------+-----------+------+---+---------+------------+------------+--------------+----------+---------------------+-------+-----------+--------+-----+-----+---------+-----------------+-------------------+
|adgroup_id|userid|time_stamp|        pid|nonclk|clk|cms_segid|cms_group_id|pvalue_level|shopping_level|occupation|new_user_class_level |cate_id|campaign_id|customer|brand|price|age_level|final_gender_code|               time|
+----------+------+----------+-----------+------+---+---------+------------+------------+--------------+----------+---------------------+-------+-----------+--------+-----+-----+---------+-----------------+-------------------+
|       107|753380|1494597575|430548_1007|     1|  0|        0|           3|        NULL|             3|         0|                    4|    619|     115758|    2461| NULL| 33.6|        3|                2|2017-05-12 06:59:35|
|       107|479850|1494159370|430539_1007|     1|  0|        0|           3|        NULL|             3|         0|                 NULL|    619|     115758|    2461| NULL| 33.6|        3|                2|2017-05-07 05:16:10|
|       107|149701|1494168478|430539_1007|     1|  0|       19|           3|           2|             3|         0|                    2|    619|     115758|    2461| NULL| 33.6|        3|                2|2017-05-07 07:47:58|
+----------+------+----------+-----------+------+---+---------+------------+------------+--------------+----------+---------------------+-------+-----------+--------+-----+-----+---------+-----------------+-------------------+
only showing top 3 rows

# features preparation

## userid features

In [11]:
def get_user_features(df):
    window = W.partitionBy('userid').orderBy('time').rowsBetween(W.unboundedPreceding,-1)
    
    return (
        df
        .withColumn('user_ad_count', F.count('clk').over(window))
        .withColumn('user_ad_clk_count', F.sum('clk').over(window))
    )
    
users_features_df = get_user_features(merged_df)
users_features_df.select('userid', 'time', 'user_ad_count', 'user_ad_clk_count').sort('userid', 'time').show(3)

+------+-------------------+-------------+-----------------+
|userid|               time|user_ad_count|user_ad_clk_count|
+------+-------------------+-------------+-----------------+
|     1|2017-05-10 21:50:36|            0|             NULL|
|     1|2017-05-11 23:45:25|            1|                0|
|     1|2017-05-11 23:45:25|            2|                0|
+------+-------------------+-------------+-----------------+
only showing top 3 rows

## adgroup features

In [12]:
def get_ad_features(df):
    window = W.partitionBy('adgroup_id').orderBy('time').rowsBetween(W.unboundedPreceding,-1)
    
    return (
        df
        .withColumn('adgroup_count', F.count('clk').over(window))
        .withColumn('adgroup_clk_count', F.sum('clk').over(window))
    )
    
ad_features_df = get_ad_features(users_features_df)
(
    ad_features_df
    .select('adgroup_id', 'time', 'adgroup_count', 'adgroup_clk_count')
    .sort('adgroup_id', 'time')
    .show(3)
)

+----------+-------------------+-------------+-----------------+
|adgroup_id|               time|adgroup_count|adgroup_clk_count|
+----------+-------------------+-------------+-----------------+
|         1|2017-05-06 23:14:04|            0|             NULL|
|         2|2017-05-08 17:38:53|            0|             NULL|
|         2|2017-05-09 05:38:06|            1|                0|
+----------+-------------------+-------------+-----------------+
only showing top 3 rows

## campaign features

In [13]:
def get_campaign_features(df):
    window = W.partitionBy('campaign_id').orderBy('time').rowsBetween(W.unboundedPreceding,-1)
    
    return (
        df
        .withColumn('campaign_count', F.count('clk').over(window))
        .withColumn('campaign_clk_count', F.sum('clk').over(window))
    )
    
campaign_features_df = get_campaign_features(ad_features_df)
campaign_features_df.show(3)

+----------+------+----------+-----------+------+---+---------+------------+------------+--------------+----------+---------------------+-------+-----------+--------+-----+-----+---------+-----------------+-------------------+-------------+-----------------+-------------+-----------------+--------------+------------------+
|adgroup_id|userid|time_stamp|        pid|nonclk|clk|cms_segid|cms_group_id|pvalue_level|shopping_level|occupation|new_user_class_level |cate_id|campaign_id|customer|brand|price|age_level|final_gender_code|               time|user_ad_count|user_ad_clk_count|adgroup_count|adgroup_clk_count|campaign_count|campaign_clk_count|
+----------+------+----------+-----------+------+---+---------+------------+------------+--------------+----------+---------------------+-------+-----------+--------+-----+-----+---------+-----------------+-------------------+-------------+-----------------+-------------+-----------------+--------------+------------------+
|    698868|803506|1494021093|430548_1007|     1|  0|        0|           5|        NULL|             1|         0|                 NULL|   6423|         31|   15142| NULL|158.0|        5|                2|2017-05-05 14:51:33|            1|                0|            0|             NULL|             0|              NULL|
|    698868|849260|1494031216|430539_1007|     1|  0|        0|           3|        NULL|             3|         0|                    4|   6423|         31|   15142| NULL|158.0|        3|                2|2017-05-05 17:40:16|           17|                0|            1|                0|             1|                 0|
|    698868| 97520|1494035999|430548_1007|     1|  0|       16|           3|           1|             3|         0|                    2|   6423|         31|   15142| NULL|158.0|        3|                2|2017-05-05 18:59:59|            2|                1|            2|                0|             2|                 0|
+----------+------+----------+-----------+------+---+---------+------------+------------+--------------+----------+---------------------+-------+-----------+--------+-----+-----+---------+-----------------+-------------------+-------------+-----------------+-------------+-----------------+--------------+------------------+
only showing top 3 rows

## category features

In [14]:
def get_category_features(df):
    window = W.partitionBy('cate_id').orderBy('time').rowsBetween(W.unboundedPreceding,-1)
    
    return (
        df
        .withColumn('cate_count', F.count('clk').over(window))
        .withColumn('cate_clk_count', F.sum('clk').over(window))
    )
    
category_features_df = get_category_features(campaign_features_df)
summerize_df(category_features_df)

25029435

+----------+------+----------+-----------+------+---+---------+------------+------------+--------------+----------+---------------------+-------+-----------+--------+------+------+---------+-----------------+-------------------+-------------+-----------------+-------------+-----------------+--------------+------------------+----------+--------------+
|adgroup_id|userid|time_stamp|        pid|nonclk|clk|cms_segid|cms_group_id|pvalue_level|shopping_level|occupation|new_user_class_level |cate_id|campaign_id|customer| brand| price|age_level|final_gender_code|               time|user_ad_count|user_ad_clk_count|adgroup_count|adgroup_clk_count|campaign_count|campaign_clk_count|cate_count|cate_clk_count|
+----------+------+----------+-----------+------+---+---------+------------+------------+--------------+----------+---------------------+-------+-----------+--------+------+------+---------+-----------------+-------------------+-------------+-----------------+-------------+-----------------+--------------+------------------+----------+--------------+
|    590288|862149|1494003675|430539_1007|     1|  0|        0|          10|        NULL|             3|         0|                    1|     31|     359510|   56319| 49899|5400.0|        4|                1|2017-05-05 10:01:15|            1|                0|            0|             NULL|             0|              NULL|         0|          NULL|
|    290601|629123|1494025619|430548_1007|     1|  0|        0|           2|           1|             3|         0|                 NULL|     31|      94689|  136098|107382|2588.0|        2|                2|2017-05-05 16:06:59|            1|                0|            0|             NULL|             0|              NULL|         1|             0|
|    290601|805389|1494026615|430548_1007|     1|  0|        0|          11|        NULL|             2|         0|                    2|     31|      94689|  136098|107382|2588.0|        5|                1|2017-05-05 16:23:35|            2|                0|            1|                0|             1|                 0|         2|             0|
+----------+------+----------+-----------+------+---+---------+------------+------------+--------------+----------+---------------------+-------+-----------+--------+------+------+---------+-----------------+-------------------+-------------+-----------------+-------------+-----------------+--------------+------------------+----------+--------------+
only showing top 3 rows

## category & gender features

In [15]:
def get_cat_gender_features(df):
    window = W.partitionBy('cate_id', 'final_gender_code').orderBy('time').rowsBetween(W.unboundedPreceding,-1)
    
    return (
        df
        .withColumn('cat_gender_ad_count', F.count('clk').over(window))
        .withColumn('cat_gender_ad_clk_count', F.sum('clk').over(window))
    )
    
cat_gender_features_df =  get_cat_gender_features(category_features_df)
summerize_df(cat_gender_features_df)

25029435

+----------+------+----------+-----------+------+---+---------+------------+------------+--------------+----------+---------------------+-------+-----------+--------+------+------+---------+-----------------+-------------------+-------------+-----------------+-------------+-----------------+--------------+------------------+----------+--------------+-------------------+-----------------------+
|adgroup_id|userid|time_stamp|        pid|nonclk|clk|cms_segid|cms_group_id|pvalue_level|shopping_level|occupation|new_user_class_level |cate_id|campaign_id|customer| brand| price|age_level|final_gender_code|               time|user_ad_count|user_ad_clk_count|adgroup_count|adgroup_clk_count|campaign_count|campaign_clk_count|cate_count|cate_clk_count|cat_gender_ad_count|cat_gender_ad_clk_count|
+----------+------+----------+-----------+------+---+---------+------------+------------+--------------+----------+---------------------+-------+-----------+--------+------+------+---------+-----------------+-------------------+-------------+-----------------+-------------+-----------------+--------------+------------------+----------+--------------+-------------------+-----------------------+
|    590288|862149|1494003675|430539_1007|     1|  0|        0|          10|        NULL|             3|         0|                    1|     31|     359510|   56319| 49899|5400.0|        4|                1|2017-05-05 10:01:15|            1|                0|            0|             NULL|             0|              NULL|         0|          NULL|                  0|                   NULL|
|    290601|805389|1494026615|430548_1007|     1|  0|        0|          11|        NULL|             2|         0|                    2|     31|      94689|  136098|107382|2588.0|        5|                1|2017-05-05 16:23:35|            2|                0|            1|                0|             1|                 0|         2|             0|                  1|                      0|
|    396690|556456|1494028006|430548_1007|     1|  0|        0|           9|        NULL|             3|         0|                    4|     31|     280925|   25094|316005|9000.0|        3|                1|2017-05-05 16:46:46|            0|             NULL|            0|             NULL|             0|              NULL|         3|             0|                  2|                      0|
+----------+------+----------+-----------+------+---+---------+------------+------------+--------------+----------+---------------------+-------+-----------+--------+------+------+---------+-----------------+-------------------+-------------+-----------------+-------------+-----------------+--------------+------------------+----------+--------------+-------------------+-----------------------+
only showing top 3 rows

## category & age features

In [16]:
def get_cat_age_features(df):
    window = W.partitionBy('cate_id', 'age_level').orderBy('time').rowsBetween(W.unboundedPreceding,-1)
    
    return (
        df
        .withColumn('cat_age_ad_count', F.count('clk').over(window))
        .withColumn('cat_age_ad_clk_count', F.sum('clk').over(window))
    )
    
cat_age_features_df =  get_cat_age_features(cat_gender_features_df)
summerize_df(cat_age_features_df)

25029435

+----------+------+----------+-----------+------+---+---------+------------+------------+--------------+----------+---------------------+-------+-----------+--------+------+------+---------+-----------------+-------------------+-------------+-----------------+-------------+-----------------+--------------+------------------+----------+--------------+-------------------+-----------------------+----------------+--------------------+
|adgroup_id|userid|time_stamp|        pid|nonclk|clk|cms_segid|cms_group_id|pvalue_level|shopping_level|occupation|new_user_class_level |cate_id|campaign_id|customer| brand| price|age_level|final_gender_code|               time|user_ad_count|user_ad_clk_count|adgroup_count|adgroup_clk_count|campaign_count|campaign_clk_count|cate_count|cate_clk_count|cat_gender_ad_count|cat_gender_ad_clk_count|cat_age_ad_count|cat_age_ad_clk_count|
+----------+------+----------+-----------+------+---+---------+------------+------------+--------------+----------+---------------------+-------+-----------+--------+------+------+---------+-----------------+-------------------+-------------+-----------------+-------------+-----------------+--------------+------------------+----------+--------------+-------------------+-----------------------+----------------+--------------------+
|    290601|665808|1494501124|430539_1007|     1|  0|        0|           7|        NULL|             3|         0|                    1|     31|      94689|  136098|107382|2588.0|        1|                1|2017-05-11 04:12:04|            2|                0|           86|                3|           101|                 3|       231|            12|                193|                     12|               0|                NULL|
|    221307|665808|1494561619|430539_1007|     1|  0|        0|           7|        NULL|             3|         0|                    1|     31|     258735|   60423|125038|3890.0|        1|                1|2017-05-11 21:00:19|            3|                0|            9|                1|             9|                 1|       265|            12|                221|                     12|               1|                   0|
|    445718|326127|1494607845|430548_1007|     1|  0|       51|           7|           3|             3|         0|                 NULL|     31|     296251|   89033| 72619|9000.0|        1|                1|2017-05-12 09:50:45|            0|             NULL|           23|                2|            23|                 2|       307|            16|                260|                     15|               2|                   0|
+----------+------+----------+-----------+------+---+---------+------------+------------+--------------+----------+---------------------+-------+-----------+--------+------+------+---------+-----------------+-------------------+-------------+-----------------+-------------+-----------------+--------------+------------------+----------+--------------+-------------------+-----------------------+----------------+--------------------+
only showing top 3 rows

## gender, age & ad features

In [17]:
def get_gender_age_ad_features(df):
    window = (
        W.partitionBy('adgroup_id', 'age_level', 'final_gender_code')
        .orderBy('time')
        .rowsBetween(W.unboundedPreceding,-1)
    )
    return (
        df
        .withColumn('gender_age_ad_count', F.count('clk').over(window))
        .withColumn('gender_age_ad_clk_count', F.sum('clk').over(window))
    )
    
gender_age_ad_features_df =  get_gender_age_ad_features(cat_age_features_df)
summerize_df(gender_age_ad_features_df)

25029435

+----------+------+----------+-----------+------+---+---------+------------+------------+--------------+----------+---------------------+-------+-----------+--------+------+-----+---------+-----------------+-------------------+-------------+-----------------+-------------+-----------------+--------------+------------------+----------+--------------+-------------------+-----------------------+----------------+--------------------+-------------------+-----------------------+
|adgroup_id|userid|time_stamp|        pid|nonclk|clk|cms_segid|cms_group_id|pvalue_level|shopping_level|occupation|new_user_class_level |cate_id|campaign_id|customer| brand|price|age_level|final_gender_code|               time|user_ad_count|user_ad_clk_count|adgroup_count|adgroup_clk_count|campaign_count|campaign_clk_count|cate_count|cate_clk_count|cat_gender_ad_count|cat_gender_ad_clk_count|cat_age_ad_count|cat_age_ad_clk_count|gender_age_ad_count|gender_age_ad_clk_count|
+----------+------+----------+-----------+------+---+---------+------------+------------+--------------+----------+---------------------+-------+-----------+--------+------+-----+---------+-----------------+-------------------+-------------+-----------------+-------------+-----------------+--------------+------------------+----------+--------------+-------------------+-----------------------+----------------+--------------------+-------------------+-----------------------+
|        43|824392|1494108093|430548_1007|     1|  0|        0|           6|        NULL|             1|         0|                 NULL|   5467|     398528|   53136|  1644| 16.0|        6|                2|2017-05-06 15:01:33|           17|                0|            1|                0|            10|                 2|     15644|           908|               7927|                    426|             311|                  18|                  0|                   NULL|
|        69|729782|1494287274|430548_1007|     1|  0|        0|           8|           2|             3|         0|                 NULL|   8513|     135382|   17427|120333| 80.0|        2|                1|2017-05-08 16:47:54|           93|                3|            1|                0|            30|                 3|      1258|            95|               1057|                     72|              62|                   3|                  0|                   NULL|
|        85| 10772|1494393723|430548_1007|     1|  0|        0|           4|        NULL|             3|         0|                    3|   6873|     398858|   53487|443907|720.0|        4|                2|2017-05-09 22:22:03|           42|                2|            2|                0|            49|                 1|       529|            28|                334|                     15|             138|                   6|                  0|                   NULL|
+----------+------+----------+-----------+------+---+---------+------------+------------+--------------+----------+---------------------+-------+-----------+--------+------+-----+---------+-----------------+-------------------+-------------+-----------------+-------------+-----------------+--------------+------------------+----------+--------------+-------------------+-----------------------+----------------+--------------------+-------------------+-----------------------+
only showing top 3 rows

# save dataset

In [18]:
gender_age_ad_features_df.write.parquet(DATASET_PATH)